.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: purple;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: salmon;
   }